/*---------CSS RESET START--------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}
/*---------CSS RESET END--------*/

/*---------Font SET START-------*/
.poppins-thin {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: normal;
}
/*---------Font SET END-------*/

/*---------HEADER START-------*/
button {
  background-color: #fff;
  border: 0;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}
header,
section {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
  margin-top: 0.9rem;
}
.content-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  display: flex;
  align-items: center;
  flex-flow: wrap;
}
.navigation-btn {
  padding: 0.5rem 0.9rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #111111;
  text-decoration: none;
  font-weight: 500;
}
.btn-design {
  border-radius: 1rem 0 1rem 0px;

  color: #fff;
  box-shadow: 0px 4px 4px 1px #00000080;
}
.nav-sign {
  display: flex;
}
.nav-sign button {
  margin-left: 3rem;
}
.signup {
  background-color: #caa892;
  margin: 0 0.6rem;
  text-transform: capitalize;
}
.illustration {
  border-radius: 10rem 0 10rem 0px;
}
.image-wrapper {
  position: relative;
}
.image-wrapper::before {
  content: '';
  position: absolute;
  top: 2rem;
  left: 2rem;
  right: -2rem;
  bottom: -2rem;
  border: 2px solid #d3b191;
  border-radius: 10rem 0 10rem 0px;
  z-index: -1;
}
/*---------HEADER END-------*/
.subtitle {
  color: #646464;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 0.4rem;
}
.main-title {
  color: #000;
  text-transform: capitalize;
  font-size: 5rem;
  margin-bottom: 2rem;
}
.section-text {
  text-transform: lowercase;
  margin-bottom: 2rem;
  color: #646464;
  line-height: 1.9rem;
  font-size: 1rem;
}
.contact {
  background-color: #37806b;
  padding: 0.5rem 1.7rem;
  text-transform: uppercase;
}

.services {
  flex-flow: column;
  align-items: flex-start;
}
.card-list ul {
  display: flex;
  gap: 2rem;
}
.card-shadow {
  box-shadow: 0px 1px 8px 1px #00000080;
}
.title {
  color: #000;
  text-transform: capitalize;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.card-list ul li {
  padding: 2.1rem;
  display: flex;
  gap: 2rem;
}
.card {
  border-radius: 3rem 0 3rem 0px;
}
.card img {
  height: fit-content;
}
.card:nth-child(even) {
  background-color: #d3b191;
}
.white-txt {
  color: #fff;
}
.image-wrapper-reverse::after {
  content: '';
  position: absolute;
  top: -2rem;
  left: -2rem;
  right: 2rem;
  bottom: 2rem;
  border: 2px solid #d3b191;
  border-radius: 10rem 0 10rem 0px;
  z-index: -1;
}
.content-flex-reverse {
  flex-direction: row-reverse;
  gap: 5rem;
}
.section-title {
  color: #000;
  text-transform: capitalize;
  font-size: 4rem;
  margin-bottom: 2rem;
  line-height: 5rem;
}
.image-wrapper-reverse {
  position: relative;
}
.section-bg {
  background-color: #f8f8f8;
  padding: 6rem 0;
}
.work-stat {
  display: flex;
  justify-content: space-between;
}
.work-stat li {
  width: 11.5rem;
  height: 11.5rem;
  background-color: #fff;
  padding: 3.5rem;
  color: #000;
  justify-items: center;
  align-content: center;
}
